streamlit>=1.36.0
google-genai>=2.6.0
audio-recorder-streamlit>=0.0.8
plotly>=5.22.0
pandas>=2.2.0
python-dotenv>=1.0.1
firebase-admin>=6.5.0
requests>=2.31.0
streamlit-ace>=0.1.1
extra-streamlit-components>=0.1.71
